html, body {height:100%;}
html {display:table; width:100%;}

body {
    padding: 50px;
    font-size: 1.25em;
    width: 95%;
    display: table-cell;
    text-align: center;

    background-color: #e3eaa7;
    user-select: none; /* https://stackoverflow.com/a/2326028 */
}

a {
  color: #00B7FF;
}

h1, h2, h3, img, p, div, button, video, pre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
  font-family: 'Kalam', cursive;
  margin-top: none;
  padding: none;
  margin-bottom: 5px;
}

img, button {
    width: auto;
    padding: 5px;
}

input, select {
    font-weight: bold;
    font-family: monospace;
}

div.frame {
  width: 100%;
  height: 100%;
}

canvas, #activities {
  border: 5px green solid;
  border-radius: 10px;
  background: transparent;
}

input.button, a.button {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    margin-left: auto;
    margin-right: auto;

    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.pencils {
  position: relative;
  margin: auto;
  top: -122px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.pencil_body {
  float: left;
  position: relative;
  width: 30px;
  height: 50px;
  background: #7BC950;
  border-radius: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

.pencil_body:before {
  position: relative;
  top: -75px;
  content: '';
  height: 30px;
  border-bottom: 60px solid #D4915D;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.pencil_body:after {
  position: relative;
  top: -78px;
  left: -22px;
  content: '';
  width: 30px;
  height: 30px;
  border-bottom: 30px solid #7BC950;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

@media (max-width: 520px) {
    body {
      padding: 5px;
      font-size: 1em;
      width: 100%;
    }

    div.frame {
      width: 95%;
      height: 95%;
    }
}
